// Variables
@import 'variables';

// Base styles
@import 'base';

// ===== AUTH SECTION =====
@import 'auth/auth';

// ===== ADMIN SECTION =====
// Admin Components
@import 'admin/components/forms';
@import 'admin/components/badge';
@import 'admin/components/action-buttons';
@import 'admin/components/modal';
@import 'admin/components/data-table';
@import 'admin/components/pagination';
@import 'admin/components/filters';
@import 'admin/components/image-modal';

// Admin Layout
@import 'admin/layout/layout';
@import 'admin/layout/header';
@import 'admin/layout/sidebar';
